body {
	background-image: url("Backgrounds/Contact Background.png");
}

#contact-contents {
	display: inline-block;
	width: 100%;
	height: 100%;
}

#contact-title {
	/* Display */
	position: fixed;
	margin-top: 15%;

	/* Animation */
	transition: 2000ms ease-in-out;
	transform: rotate(-48deg);

	/* Text */
	color: #2eb1d3;
	text-shadow: -4px -4px 3px #94e352, 4px -4px 3px #94e352, -4px 4px 3px #94e352, 4px 4px 3px #94e352;
	font-size: 800%;
	font-family: Misfits;
}

#contact-info {
	/* Display */
	margin-top: 2%;
	margin-right: 3%;
	float: right;

	/* Size */
	width: 60%;
	padding: 2.5%;
	border: 5px outset #e762d7ff;
	border-radius: 7%/15%;

	/* Animation */
	animation: expandFromCenter 2000ms;

	/* Background */
	background-color: rgba(166, 238, 230, 0.85);
}
	
	#author {
		display: flex;
		justify-content: space-between;
		padding: 3%;
		font-size: 300%;
	}
		#author #author-declare {
			color: #e89242ff;
			text-shadow: -2px -2px 2px #000, 2px -2px 2px #000, -2px 2px 2px #000, 2px 2px 2px #000;
			font-weight: bold;
			font-family: CaveatBrush;
		}
		#author #author-name {
			color: #fae48bff;
			text-shadow: -1px -1px 2px #000, 1px -1px 2px #000, -1px 1px 2px #000, 1px 1px 2px #000;
			font-family: ShadowsIntoLight;
		}

	#email {
		display: flex;
		justify-content: space-between;
		padding: 1%;
	}
		#email #email-declare {
			color: #917c5dff;
			text-shadow: -2px -2px 1px #000, 2px -2px 1px #000, -2px 2px 1px #000, 2px 2px 1px #000;
			font-size: 185%;
			font-weight: bold;
			font-family: GloriaHallelujah;
		}
		#email #email-adresses {
			display: block;
			padding: 0%;
			font-family: NanumPenScript;
		}
			#email #email-adresses a {
				color: #8266c4;
				text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
				font-size: 225%;
				font-style: italic;
				text-decoration: none;
			}
			#email #email-adresses a:hover {
				font-weight: bold;
				font-style: normal;
			}

	#project-regarded {
		font-size: 130%;
		font-family: PatrickHandSC;
	}
		#project-regarded-title {
			color: #e63034;
			text-shadow: -1px -1px 1px #a3a3a3, 1px -1px 1px #a3a3a3, -1px 1px 1px #a3a3a3, 1px 1px 1px #a3a3a3;
			font-size: 160%;
			font-weight: bold;
			font-family: Neucha;
			line-height: 1%;
		}

		#project-regarded a {
			color: #7a61b6;
			font-style: italic;
			text-decoration: none;
		}
		#project-regarded a:hover {
			font-weight: bold;
			font-style: normal;
		}
