@font-face {
	font-family: Misfits;
	src: url(Fonts/Misfits_Font.TTF);
}

html{
	height: 100%;
	width: 100%;
	margin:0;
	cursor: auto;
}

body { /* Background should be fixed at all times in all documents. */
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: fixed;
}