#drop-down-menu {
	/* Size */
	width: 13%;
	margin-top: 0.5%;
	margin-left: 0.5%;
	
	/* Position */
	position: absolute;

	/* Text */
	text-align: center;
	font-style: italic;
	font-size: 115%;
	font-family: Misfits;
}

	#drop-down-menu button {
		/* Size */
		width: 100%;
		border-radius: 4.5%/20%;
		padding: 4%;
		vertical-align: middle;

		/* Background */
		background-color: #fae49bff;
		
		/* Text */
		color: #82491eff;
		text-align: center;
		font-style: italic;
		font-size: 112%;
		font-family: Misfits;
		
	}
	#drop-down-menu:hover button {
		background-color: #b7e4f9ff;
		cursor: pointer;
	}

	#drop-down-content { /* Menu's content is hidden by default. */
		display: none;
	}
	#drop-down-menu:hover #drop-down-content { /* Show menu's content on hover. */
		/* Display */
		display: block;

		/* Size */
		margin-left: 4.5%;
		border-radius: 4.5%/7%;
		
		/* Background */
		background-color: #fae49bff;
		
		/* Text */
		color: #82491eff;
		
		/* Cursor */
		cursor: pointer;
	}

		#drop-down-content a {
			display: block;
			padding: 3%;
			border-radius: 4.5%/20%;
			font-size: 99%;
		}
		#drop-down-content a:hover {
			background-color: #e89242ff;
			color: black;
			font-style: normal;
			padding: 4%;
		}
		#drop-down-content a.activeDD { /* Active link looks different from rest, but keeps on-hover font-style and padding. */
			background-color: #24325fff;
			color: white;
			font-style: normal;
			padding: 4%;
		}

			#drop-down-content a img {
				height: 80%;
				width: 15%;
			}

