.pop-up {
	/* Display */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 2000ms ease-in-out;

	/* Size */
	width: 30%;
	border: 5px outset rgba(36, 50, 95, 1);
	border-radius: 7%/15%;
	z-index: 10;
	
	/* Background */
	background-color: rgba(173, 136, 82, 0.85);
}

.pop-up.active {
	transform: translate(-50%, -50%) scale(1);
}

.pop-up-header {
	padding: 2%;
	border-bottom: 2px ridge rgba(36, 50, 95, 1);
}
	.pop-up-header #pop-up-title {
		color: rgba(46, 177, 211, 1);
		text-shadow: -4px -4px 3px rgba(148, 227, 82, 1), 4px -4px 3px rgba(148, 227, 82, 1), -4px 4px 3px rgba(148, 227, 82, 1), 4px 4px 3px rgba(148, 227, 82, 1);
		text-align: center;
		font-size: 500%;
		font-family: Misfits;
	}

#pop-up-body {
	display: block;
	padding: 5%;
	align-items: center;
	font-size: 200%;
	font-family: Misfits;
}
	#pop-up-body .result-count {
		display: flex;
		padding: 3% 0%;
		justify-content: space-between;
		text-shadow: -1px -1px 0 rgba(0, 0, 0, 1), 1px -1px 0 rgba(0, 0, 0, 1), -1px 1px 0 rgba(0, 0, 0, 1), 1px 1px 0 rgba(0, 0, 0, 1);
	}
		#pop-up-body .result-count .sentence {
			color: rgba(68, 93, 145, 1);
		}
		#pop-up-body .result-count .number {
			color: rgba(46, 177, 211, 1);
			font-style: bold;
		}

	#pop-up-body .play-again-button {
		/* Size */
		border: 5px outset rgba(228, 156, 88, 1);
		border-radius: 5%/17%;
		margin-top: 5%;
		margin-bottom: 0%;

		/* Background */
		background-color: rgba(251, 100, 103, 1);

		/* Text */
		text-align: center;
	}
		#pop-up-body .play-again-button #play-again-button {
			color: rgba(42, 156, 186, 1);
			text-shadow: -1px -1px 0 rgba(218, 218, 218, 1), 1px -1px 0 rgba(218, 218, 218, 1), -1px 1px 0 rgba(218, 218, 218, 1), 1px 1px 0 rgba(218, 218, 218, 1);
			padding: 2% 26.5%;
			text-decoration: none;
		}
		#pop-up-body .play-again-button #play-again-button:hover {
			color: rgba(139, 240, 55, 1);
			text-shadow: -1px -1px 0 rgba(0, 0, 0, 1), 1px -1px 0 rgba(0, 0, 0, 1), -1px 1px 0 rgba(0, 0, 0, 1), 1px 1px 0 rgba(0, 0, 0, 1);
		}
	#pop-up-body .play-again-button:hover {
		background-color: rgba(218, 60, 63, 1);
	}

#overlay {
	/* Display */
	position: fixed;
	
	top: 0; left: 0; right: 0; bottom: 0;

	/* Background */
	opacity: 0;
	background-color: rgb(173, 74, 162);

	/* Pointer Events */
	pointer-events: none;
}

#overlay.active {
	opacity: 0.5;
}