@font-face {
	font-family: "Misfits";
	src: url("MISFITS_Font.ttf");
}

.drop-down-menu {
	width: 200px;
	margin-top: 10px;
	margin-left: 10px;
	
	text-align: center;
	font-style: italic;
	font-size: 20px;
	font-family: Misfits;
}

	.drop-down-menu button {
		width: 200px;
		background-color: #fae49bff;
		color: #82491eff;
		border-radius: 10px;
		padding: 8px;
		text-align: center;
		vertical-align: middle;
		font-style: italic;
		font-size: 20px;
		font-family: Misfits;
		
	}
	.drop-down-menu:hover button { /* Change menu's button color on hover. */
		background-color: #b7e4f9ff;
		cursor: pointer;
	}

	.drop-down-content { /* Menu's content is hidden by default. */
		display: none;
	}
	.drop-down-menu:hover .drop-down-content { /* Show menu's content on hover. */
		display: block;
		width: 200px;
		margin-left: 11px;
		position: absolute;
		background-color: #fae49bff;
		color: #82491eff;
		border: 0px;
		border-radius: 10px;
		cursor: pointer;
	}

		.drop-down-content a {
			display: block; /* Make the links appear below each other */
			text-decoration: none; /* Remove underline from links */
			padding: 2px;
			border-radius: 10px;
		}
		.drop-down-content a:hover { /* Links change their looks on hover. */
			background-color: #e89242ff;
			color: black;
			font-style: normal;
			padding: 8px;
		}
		.drop-down-content a.active { /* Active link looks different from rest, but keeps on-hover padding and font-style. */
			background-color: #24325fff;
			color: white;
			font-style: normal;
			padding: 8px;
		}

html{
    height: 100%;
	width: 100%;
	margin:0;
	cursor: auto;
}

body { /* Background should be fixed at all times. */
	background-repeat: no-repeat;
    background-size: 100% 100%;
}

table {
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border-collapse: separate;
	border-spacing: 2px;
}

table td {
  border: 2px;
  border-radius: 10px;
}
.covered-cell {
	background-image: url("Cards/Card Backside.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-radius: 10px;
	opacity: 0.875;
}
.covered-cell:hover {
	background-image: url("Cards/Hover Highlight.png");
	opacity: 1;
	cursor: pointer;
}

.uncovered-cell {
	/*background-image: url("Cursors/Selection Cursor.png");*/
	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	border-radius: 10px;
  	opacity: 1;
}
/*table tr td: focus {
  background-image: url("Cursors/Selection Cursor.png");
}*/
/*table tr:last-child td {
  border-bottom: 0;
}
table tr td:last-child {
  border-right: 0;
}*/




/* DE ACÁ EN ADELANTE TENGO CÓDIGO DE UNA PRUEBA QUE ESTUVE HACIENDO QUE TAL VEZ ME SIRVA MÁS ADELANTE EN EL DESARROLLO, PERO ES EN PRINCIPIO INÚTIL.

h1 {
	color: darkred;
	text-align: left;
	text-shadow: absolute;
	margin-left: 6px;
	font-family: Arial;
}

h2 {
	color: darkblue;
	text-align: left;
	margin-left: 4px;
	padding: 0;
	font-family: Calibri;
}

.celdaTabla {
	width: 200px;
}

.imagen {
	content: url(https://cdn.britannica.com/92/152292-050-EAF28A45/Bald-eagle.jpg);
	border-radius: 10px;
	margin-right: 10px;
	vertical-align: center;
	float: right;
	width: 200px;
	height: 125px;
}

.parrafo {
	text-align: right;
	margin-right: 75px;
	margin-top: 150px;
}*/