nav {
	/* Size */
	width: 99.5%;
	padding: 0.1%;
	border-radius: 0.5%/15%;

	/* Opacity */
	opacity: 0.925;

	/* Text */
	font-family: Misfits;
	background: #374983;
}
	
	.navbar-gamename {
		/* Display */
		vertical-align: middle;

		/* Size */
		width: width: 13%;
		margin-top: 0.1%;
		margin-left: 0.1%;
		padding: 0.4%;

		/* Text */
		color: #fae48bff;
		text-align: left;
		font-style: bold;
		font-size: 300%;

		/* Cursor */
		cursor: default;
	}

	.navbar-options {
		/* Display */
		display: inline-block;
		float: right;
		vertical-align: middle;
		
		/* Size */
		width: 30%;
		padding: 0.5%;
	}
		.navbar-link {
			/* Size */
			width: 30%;
			margin-left: 1%;
			padding: 5%;

			/* Text */
			color: #a6eee6ff;
			text-align: center;
			font-style: italic;
			font-size: 200%;
			text-decoration: none; /* Remove underline from links */
		}
		.navbar-link:hover {
			/* Text */
			color: #fb6467ff;
			font-style: normal;

			/* Cursor */
			cursor: pointer;
		}

		#activeNavBar {
			/* Text */
			color: #e762d7ff;
			font-style: normal;
			font-size: 215%;

			/* Cursor */
			cursor: default;
		}