@font-face {
	font-family: "Misfits";
	src: url("MISFITS_Font.ttf");
}

nav {
	/* Size */
	width: 99.5%;
	padding: 5px;
	border-radius: 10px;

	/* Opacity */
	opacity: 0.925;

	/* Text */
	font-family: Misfits;
	background: #374983;
}
	
	.navbar-gamename {
		/* Display */
		vertical-align: middle;

		/* Size */
		width: 200px;
		margin-top: 5px;
		margin-left: 5px;

		/* Text */
		color: #fae48bff;
		text-align: left;
		font-style: bold;
		font-size: 50px;

		/* Cursor */
		cursor: default;
	}

	.navbar-options {
		/* Display */
		display: inline-block;
		float: right;
		vertical-align: middle;
		
		/* Size */
		width: 35%;
		margin-right: 15px;
		padding: 10px;
	}
		.navbar-link {
			/* Size */
			width: 30%;
			margin-top: 5px;
			margin-left: 5px;
			padding: 25px;

			/* Text */
			color: #a6eee6ff;
			text-align: center;
			font-style: italic;
			font-size: 30px;
			text-decoration: none; /* Remove underline from links */
		}
		.navbar-link:hover {
			/* Text */
			color: #fb6467ff;
			text-align: center;
			font-style: normal;
			font-size: 30px;

			/* Cursor */
			cursor: pointer;
		}

		#activeNavBar {
			/* Text */
			color: #e762d7ff;
			text-align: center;
			font-style: normal;
			font-size: 35px;

			/* Cursor */
			cursor: default;
		}